@font-face {
  font-family: "BBH Sequencia";
  src: url("../fonts/BBHSequenciaMono-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src: url("../fonts/GTAmericaMonoBlackItalic.otf") format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'GTAmerica';
  src: url("../fonts/GT America Bold.otf") format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'GTAmerica';
  src: url("../fonts/GT America Regular.otf") format('opentype');
  font-weight:normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src: url("../fonts/GT America Light.otf") format('opentype');
  font-weight:300;
  font-style: normal;
}
